body {
  background-color: #f7f7f7;
}

@pc: 1024px;
@table: 768px;

.achivements {
  width: 100%;
  padding: 10px 0;
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13px;
    row-gap: 10px;
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 50%;
      column-gap: 10px;
      p {
        text-align: center;
      }
    }
  }
  @media (min-width: @table) {
    padding: 20px 0;
    &-list__content {
      flex-basis: 30%;
    }
  }

  @media (min-width: @pc) {
    padding: 62px 0;
    &-list {
      flex-wrap: nowrap;
      justify-content: space-around;
      &__content {
        flex-basis: auto;
      }
    }
  }
}

.bg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &__image {
    width: 100%;
  }

  @media (min-width: @table) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.products {
  margin-top: 30px;
  ._favorite {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    font-family: "Cardo", serif;
    color: #bc1414;

    padding-left: 10px;
  }
  &-container:not(:last-child) {
    margin-bottom: 20px;
  }
  &__content {
    font-weight: 400;
    font-family: "Cardo", serif;
  }
  &__image {
    width: 100%;
  }
  &__title {
    font-weight: 700;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    &_new::after {
      content: "New Favorite!";
      ._favorite();
    }
  }

  &__favorite {
    display: none;
  }
  &__tag {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
  }
  &__price {
    font-size: 15px;
    margin-bottom: 5px;
  }
  &__description {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
  }
  &__addition {
    color: #54595f;
  }
  &__link {
    font-size: 17px;

    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
  }
  &__marks {
    display: block;
  }

  @media (min-width: @table) {
    &-container {
      display: flex;
      column-gap: 20px;
      &:nth-child(odd) {
        flex-direction: row-reverse;
        text-align: right;
      }
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__title_new::after {
      display: none;
    }

    &__favorite {
      display: block;
      padding-bottom: 10px;
      ._favorite();
    }
    &__image {
      width: 50%;
    }
    &__link {
      display: inline-block;
      margin-top: 20px;
      padding: 0 5px;
    }
    &__marks {
      margin-top: 5px;
    }
  }
  @media (min-width: @pc) {
    &-container {
      column-gap: 48px;
      align-items: center;
    }
    &__title {
      font-size: 32px;
      margin-bottom: 4px;
    }
    &__tag {
      line-height: 38px;
      margin-bottom: 18px;
    }
    &__price {
      line-height: 28px;
      margin-bottom: 46px;
    }
    &__description {
      margin-bottom: 25px;
      max-width: 360px;
    }
    &__addition {
      margin-bottom: 48px;
    }
    &__link {
      margin-top: 0;
    }
    &__favorite {
      line-height: 30px;
      margin-bottom: 20px;
    }
    &__marks {
      margin-top: 58px;
    }
    &__image {
      width: 60%;
    }
  }
}

.slider {
  &-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  &-content {
    &__title {
      font-weight: 700;
      font-size: 30px;

      font-family: "Cardo", serif;
      padding-bottom: 20px;
    }
    &__text {
      font-weight: 400;
      font-size: 18px;

      font-family: "Cardo", serif;
      padding-bottom: 20px;
    }
  }
  &-images {
    display: flex;
    justify-content: center;
    &__image {
      width: 30%;
      padding: 0 5px;
    }
  }
}

.quote {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    flex-wrap: wrap;
    background-color: #f6f6f6;
  }
  &__text {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    font-family: "Cardo", serif;
    text-align: center;
    margin-bottom: 30px;
  }
  &__author {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
  }
  &-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    &__square_medium {
      font-size: 15px;
      padding: 0 3px;
    }
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
  &-content {
    text-align: center;
    font-family: "Cardo", serif;
    font-weight: 400;
    &__image {
      height: 50px;
      width: 50px;
      margin-bottom: 10px;
    }
    &__title {
      font-size: 24px;
      margin-bottom: 5px;
    }
    &__description {
      font-size: 15px;
      margin-bottom: 5px;
      min-height: 70px;
    }
    &__link {
      color: black;
      font-size: 15px;
    }
  }

  @media (min-width: @table) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: @pc) {
    display: flex;
    &-content {
      padding: 50px 38px;
      &:nth-child(even) {
        background-color: #f8f8f8;
      }
      &__image {
        height: 95px;
        width: 95px;
        margin-bottom: 30px;
      }
      &__title {
        margin-bottom: 12px;
      }
      &__description {
        margin-bottom: 26px;
      }
    }
  }
}

.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  p {
    margin: 0;
    margin-bottom: 40px;
  }
  img {
    width: 100%;
    max-width: 1420px;
  }
}
