.footer {
  padding-top: 55px;
  background-color: #E9E9E9;
  font-family: 'Cardo';
  display: flex;
  flex-direction: column;
  &-top {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 28px;
    &-nav {
      & > h2 {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 45px;
      }
      ul {
        font-size: 14px;
        li:not(:last-child) {
          margin-bottom: 14px;
        }
      }
    }
    
    &-offers {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
  
      & > p {
        margin-bottom: 17px;
      }
  
      & > a {
        display: flex;
        margin-bottom: 30px;
        border: 1px solid black;
        background-color: #fff;
        color: black;
        width: 237px;
        height: 25px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
      }
      & > div {
        margin-bottom: 20px;
      }
    }
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    &-terms {
      display: flex;
      justify-content: space-around;
      margin-bottom: 60px;
    }
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}