.header {
  height: 105px;
  &-title {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  
    height: 69px;
    &__content {
      position: absolute;
      display: flex;
    }
  }
  &-menu {
    justify-content: flex-start;
    margin-right: auto;
    a {
      padding: 20px;
  
      text-decoration: none;
      color: black;
      font-family: 'Cardo', serif;
  
      font-weight: 400;
      font-size: 17px;
    }
  }
}