<header>
    <ul style="display: flex; justify-content: end;">
        <li style="margin-right: 25px;">
            <a href="index.html">
                Главная
            </a>
        </li>
        <li style="margin-right: 25px;">
            <a href="contacts.html">
                Контакты
            </a>
        </li>
        <li style="margin-right: 25px;">
            <a href="https://google.com" target="_blank">
                Наш партнёр
            </a>
        </li>
        <li style="margin-right: 25px;">
            <a href="/content/task.html" target="_blank">
                Семантика
            </a>
        </li>
        <li style="margin-right: 25px;">
            <a href="/content/task2.html" target="_blank">
                Задание 1
            </a>
        </li>
        <li style="margin-right: 25px;">
            <a href="/content/test.html" target="_blank">
                Тесты
            </a>
        </li>
    </ul>
</header>