:root {
    --radio-size: 16px;
    --radio-border-size: 1px;
}

.custom-radio {
    position: relative;
}

.custom-radio .custom-radio__input {
    appearance: none;
}

.custom-radio .custom-radio__label {
    padding-left: calc(var(--radio-size) + 5px);
    user-select: none;
    cursor: pointer;
}

.custom-radio .custom-radio__label::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url(svg/check-circle.svg);
    background-size: var(--radio-size);
    width: var(--radio-size);
    height: var(--radio-size);
    top: var(--radio-border-size);
    left: var(--radio-border-size);
    opacity: 0;
    transition: opacity 0.2s linear;
}

.custom-radio .custom-radio__label::after {
    content: "";
    display: block;
    position: absolute;
    width: var(--radio-size);
    height: var(--radio-size);
    top: 0;
    left: 0;
    border: var(--radio-border-size) solid black;
    border-radius: 50%;
}

.custom-radio .custom-radio__input:checked+.custom-radio__label::before {
    opacity: 1;
}