html {
    font-size: 15px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #000;
}

.picture {
    position: relative;
}

.text-for-checkbox {
    color: #444444;
    padding-left: 14px;
    user-select: none;
    cursor: pointer;
}

#checkbox-1 {
    appearance: none;
}

.text-for-checkbox::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.1s linear, background-color 0.1s linear;
}

#checkbox-1:checked+.text-for-checkbox::before {
    background-color: #49d120;
    border-color: #319612;
}

.text-for-checkbox::after {
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    background-image: url(https://htmlbase.ru/storage/app/media/checkbox/check.svg);
    background-size: 12px;
    opacity: 0;
    background-repeat: no-repeat;
    transition: opacity 0.1s linear;
}

#checkbox-1:checked+.text-for-checkbox::after {
    opacity: 1;
}